- if current_user.has_credits?
  = form_for Message.new, url: messages_path do |f|
    %p
      = f.label 'phone', 'Phone number to send message to'
      = f.text_field 'phone'  
    %p
      = f.label 'body', 'Message'
      = f.text_area 'body'
    = f.submit 'Send message', class: 'button'
- else
  %h3
    You must have credits to send a message. Please use the link above to purchase credits.