.form-container
  / - if @message.errors.any?
  /   = render partial: 'shared/error_messages'

  %h3 Buy Credits
  = form_tag current_user.update_credits, update_credits_path do |f|
    %p
      = f.label 'credits', 'Number of credits'
      = f.text_field 'credits'  
    %p
      = f.label 'credit_card', 'Credit card number'
      = f.text_field 'credit_card'
    = f.submit 'Buy Credits', class: 'button'