%header
  #user-links
    - if user_signed_in? 
      Credits:
      = user.credits
      = link_to 'Buy Credits', { controller: 'user', action: 'buy_credits'}, class: 'button'
      = link_to 'Sign out', destroy_user_session_path, class: 'button'
    - else
      = link_to 'Sign up', new_user_registration_path, class: 'button'
      = link_to 'Sign in', user_session_path, class: 'button'

